{% extends "base.html" %}

{% block container %}

<div class="page-header"><h1>Questionário</h1></div>
<script src="https://www.surveymonkey.com/jsPop.aspx?sm=x26Wo5zUAu0_2b6_2b9oE0aD8w_3d_3d"> </script>

<h4>As próximas perguntas são rápidas e objetivas, basta pontuar, seguindo as instruções, cada um dos 
atributos que aparecerem.</h4>

<hr />

<a href="http://localhost:8000/quest/nutri" class="btn btn-primary">Atributos - Nutrição Animal</a>
<a href="http://localhost:8000/quest/pg" class="btn btn-primary">Atributos - Consultoria em Gestão</a>
<a href="http://localhost:8000/quest/tech" class="btn btn-primary">Atributos - Software para Agronegócios</a>

{% endblock %}