{% extends "base.html" %}

{% block container %}

<div class="page-header"><h1>Questionário</h1></div>
<h3>Responda inicialmente o questionário e em seguida clique no botão Iniciar que se encontra no final da página.</h3>
<hr />
<div id="surveyMonkeyInfo">
	<div>
		<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=BI9XcToIYei4Sbl7BrGy6g_3d_3d"> </script>
	</div>
</div>
<hr />

<h4>Clique no botão abaixo para Iniciar!</h4>

<hr />

<a href="{{BASE_URL}}quest/nutri" class="btn btn-primary btn-large">Iniciar</a>

{% endblock %}